<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #eaf7dc; /* Verde pálido */
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        .container {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 300px;
            text-align: center;
            position: relative; /* Adicionado para posição absoluta da seta */
        }

        h2 {
            color: #333; /* Cor do texto */
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        label {
            color: #555; /* Cor do texto secundário */
        }

        input {
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        button {
            background-color: #5e9641; /* Verde musgo */
            color: #fff; /* Cor do texto */
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background-color: #7cbf63; /* Verde mais claro */
        }

        .back-link {
            position: absolute;
            top: 10px;
            left: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <a href="/" class="back-link">&#8592; Início</a> <!-- Setinha para a esquerda -->
        <h2>Login</h2>
        <form action="/login" method="post">
            <label for="username">Usuário:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Entrar</button>
        </form>
    </div>
</body>
</html>
